@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h1 style="font-size:50px" class="text-xl-center"> myclient app</h1>
<br />
<div style="align-content:center">
    <div>
        
        <a type="button" class="btn btn-info btn-lg" href=@Url.Action("Index","Asiakastiedot")>Asiakastiedot</a>

        <a type="button" class="btn btn-info btn-lg" href=@Url.Action("Index","Asiakasluokittelu")>Asiakasluokat </a>

        <a type="button" class="btn btn-info btn-lg" href=@Url.Action("Index","Laskutusosoite")> Laskutukset </a>

        <a type="button" class="btn btn-info btn-lg" href=@Url.Action("Index","Postitoimipaikat")> Postitoimipaikat </a>
    </div>
</div>
<br /><br />
<hr />
<div>
    <a type="button" class="btn btn-info btn-lg" href=@Url.Action("Create","Logins")> Luo Käyttäjä </a>

</div>
